{% for action,label in field.options.actions %}
    {% if crud.hasRoute(action) %}<a class="btn btn-default" href="{{ crud.generateObjectUrl(action, field.object) }}">{{ label }}</a>{% endif %}
{% endfor %}